form {

  margin: 0 auto;
  margin-top: 3vh;
  max-width: 50%;
  display: flex;
  justify-content: center;
  align-content: center;
}

fieldset {
  border: none;
  text-align: center;
  padding: 8px 10px;
  padding-bottom: 20px;
}

label {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
  padding: inherit;
}

input {
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-left: 5px;
    padding: 8px 10px;
}

button, input[type=submit] {
  vertical-align: center;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: 30px 10px;
  margin-bottom: 10px;
  min-width: 50%;
  padding: inherit;
  padding: 8px 10px;
  font-weight: 700;
}

.register {
  text-align: center;
}

.register a {
  color: white;
}

@media only screen and (max-width: 640px) {
  form {
    border: none;
  }
}
