* {
  box-sizing: border-box;
}
html {
  background-color: #0d0d26;
  color: white;
}

body {
  padding-top: 80px;
}

button {
  cursor: pointer;
}
body, button {
  font-family: 'Open Sans', sans-serif;
}

nav {
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  min-height: 80px;
  background-color: white;
  color: #0d0d26;
  font-weight: 800;
}

.logo {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 15px;
}

.logo img, .logo a {
  width: 50px;
  height: 50px;
}

.nav-title {
  color: #0d0d26;
}

ul {
  padding-left: 0;
  padding-right: 0;
  list-style-type: none;
}

nav ul {
  display: flex;
  justify-content: center;
  margin-right: 0;
  margin-left: auto;
}
nav li {
  margin: auto 0;
  float: left;
  padding-right: 10px;
  text-align: center;
}

.nav-bar-link {
  text-decoration: none;
  color: #0d0d26;
  font-weight: 800;
}

h1, h2, h3 {
  font-family: 'PT Sans Narrow', sans-serif;
  text-align: center;
}

h1 {
  margin: 15px 0;
  text-align: left;
  font-size: 2rem;
}


h2 {
  font-weight: 575;
  letter-spacing: 0.1em;
  margin: 0 auto;
  text-align: center;

}

h3 {
  font-weight: 550;
  letter-spacing: 0.08em;
  text-align: left;
  width: 90%;
}

.intro-bg {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 20px;
  background:
  linear-gradient(
    rgba(13, 13, 38, 1) 35%,
    65%,
    rgba(13, 13, 38, 0) 85%
    ),
    /* bottom, image */
    url('../artistogramImage.png');
  background-position: center;
  min-height: 80vh;
}

.intro-container button {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
  padding: 15px 0;
  font-size: 16px;

}

.intro-text {
  width: 90%;
  margin: 0 auto;
}

.intro-container {
  background:
    linear-gradient(
      rgba(13, 13, 38, 1) 35%,
      65%,
      rgba(13, 13, 38, 0) 85%
    );
  width: 100%;
  min-height: 80vh;
}

.title-container {
  text-align: left;
}

.artistograms, .playlists {
  padding: 25px 0;
}

ul.artistogram-list, ul.playlist-list {
  background-color: #0d0d26;
  padding-inline-start: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  list-style-type: none;
}

.artistogram-list, .playlist-list {
  flex-direction: column;
  max-width: 80%;
  margin: 0 auto;
}

.artist, .playlist {
  padding: 10px 0;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.artist:nth-child(odd) {
  background-color: lightgray;
}

.playlist:nth-child(odd) {
  background-color: #f2f4f7;
}

.artist:nth-child(even) {
  background-color: white
}

.playlist:nth-child(even) {
  background-color: white;
}

.artist-name, .playlist-name {
  font-size: 1rem;
  font-weight: 700;
}

.list-image {
  float: left;
  width: 100px;
  height: 100px;
}

.empty-list {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

#register {
  text-align: center;
}

#register a {
  color: white;
}
