.export {
  display: block;
  margin: auto;
  padding-top: 10px;

}

.playlist-list {
  margin-top: 20px;
  display: flex;
  justify-content: "space-between";
}

.playlist-list > li {
  display: flex;
}

.song, .playlist-artist, .length {
  display: flex;
}

.song {
  flex: 4;
  justify-content: flex-start;
}

.playlist-artist {
  flex: 2;
  justify-content: flex-start;
}

.length, .year {
  flex: 1;
  display: flex;
  justify-content: center
}
